:root {
    --plyr-color-main: #E0A700;
    --plyr-font-size-base: 13px;
    --plyr-font-size-small: 12px;
    --plyr-font-size-time: 11px;
    --plyr-font-size-badges: 9px;
    --plyr-font-size-menu: var(--plyr-font-size-base);
    --plyr-font-weight-regular: 500;
    --plyr-font-weight-bold: 600;
    --plyr-font-size-captions-medium: 18px;
    --plyr-font-size-captions-large: 21px;

}


body {
    background-image: url(../img/bg.svg);
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

/*---------------------------------------------------------- start blog---------------------------------*/
/* stat nav bar*/
.nav-item a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;

}

.nav-item a:hover {
    color: #E0A700;
    transition: 0.5s ease-in-out;
}

.nav-item a span img {
    margin-top: -10px;
}

.nav-item_1 img {
    width: 80px;
    height: 90px;
    margin-right: -30px;
}

.nav-item_6 span img {
    width: 60px;
}

.btn_vr {
    position: absolute;
    background: linear-gradient(268.88deg, #A17316 0.19%, #B2800A 20.19%, #CA9400 42.81%, #E0A700 63.51%, #F1B500 92.62%);
    border-radius: 100px;
    border: none;
    width: 258px;
    height: 41px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 310px;
    margin-top: -5px;
}

.btn_vr_2 {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: none;
    width: 258px;
    height: 41px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    text-align: justify;
    text-transform: uppercase;
    color: #000;
    margin-right: 310px;
    margin-top: -5px;

}

.btn_vr:hover {
    background: #FFFFFF;
    color: #000000;
    transform: scale(1.08);
    transition: 0.5s ease-in-out;

}


/* end nav bar*/
/* start content*/
.h1_blog {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 90px;
}

.line_h1_1 {
    position: absolute;
    margin-right: -1110px;
}

.content_blog_right {
    width: 460px;
    background: #101010;
    border-bottom: 1px solid #F1B500;
    margin-left: 100px;
    transition: transform .2s;
}

.content_blog_right:hover {
    transition: 0.5s;
    transform: scale(1.02);

}

.content_blog_left {
    background: #101010;
    height: 330px;
    border-bottom: 1px solid #F1B500;
    transition: transform .2s;


}

#content_blog_left_1 {
    width: 266px;
}

.content_blog_left:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;

}

.img_blog_1 {
    margin-left: 100px;
}


.content_blog_right h1,
.content_blog_left h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.icon_lick {
    position: absolute;
    margin-right: 260px;
    margin-top: -5px;
}

.icon_lick_2 {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-right: 216px;
    margin-top: 16px;
}

.content_blog_right p,
.content_blog_left p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #CCCCCC;
    width: 420px;
}

.content_blog_left p {
    width: 239px;
}

hr {
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    transform: rotate(179.63deg);
}

.like_and_shaer h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;

}

.content_blog_left h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pagination {
    margin-right: 450px;
    margin-top: 82px;
}

.page-item a {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #E0A700;
}

/* start chatboot*/


.fab {
    position: fixed;
    bottom: 32px;
    right: 1400px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px grey;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.fab:hover {
    cursor: pointer;
}

.fab img {
    width: 45%;
    transition: 0.4s;
}

.box {
    position: fixed;
    bottom: 96px;
    right: 1408px;
    height: 0px;
    transition-delay: 0.2s;
    width: 80px;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.item {
    overflow: hidden;
    border-radius: 50%;
    transition: 0.2s ease-in;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px grey;
}

.item img {
    width: 45%;
    transition: 0.2s;
}

.item1 {
    transition-delay: 0.2s;
    background: #FFFFFF;
}

.item2 {
    transition-delay: 0.4s;
    background: #FFFFFF;
}

.item:hover {
    cursor: pointer;
}

.item:hover img {
    transform: rotate(360deg);
    transition: all 0.3s;
}

.box-active {
    height: 96px;
}

.fab-active img {
    transform: rotate(360deg);
    width: 40%;

}

.fab-active {
    background: #C2942D;
}

/* end chatboot*/

/* start foooter*/

footer {
    margin-top: 181px;
    height: 270px;
    background: #101010;
    border-radius: 22px 22px 0px 0px;
}

.content_footer_right h1 {
    width: 227px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #B8B8B8;
    margin-right: 130px;


}

.logo_footer {
    position: absolute;
    margin-top: -90px;
}

footer ul li {
    list-style: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-align: justify;
    text-transform: uppercase;
    color: #B8B8B8;

}

footer ul li a {
    color: #FFFFFF;
}

footer ul li a:hover {
    color: #E0A700;
    transition: all 0.5s ease-in-out;
}



.end_footr {
    height: 55px;
    background-color: #000000;
}

.end_footr h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
}

.web_kayan {
    filter: grayscale(60%);
}

.web_kayan:hover {
    filter: grayscale(0%);
    transition: .2s ease-in-out;
}

/* end foooter*/
/*---------------------------------------------------------- end blog---------------------------------*/
/*---------------------------------------------------------- start blog content page-------------------*/
.h1_blog_content_page {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 90px;
    position: relative;
}

.h1_blog_content_page::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    border: 3px solid #E0A700;
    right: -16px;
    top: -15px;
}

.bg_icon_like {
    width: 41px;
    height: 41px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.2);
}

.bg_icon_shaer {
    width: 320px;
    height: 41px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}

.h1_article {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
}

.prescription h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
}

.prescription p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
    width: 743px;
}


.h2_blog_content_page {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 112px;
}

.content_blog_cntar h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;


}

.content_blog_cntar {
    background: #101010;
    height: 250px;
    transition: transform .2s;

}

.content_blog_cntar:hover {
    transition: 0.5s;
    transform: scale(1.05);
    z-index: 1;

}

/*---------------------------------------------------------- end blog content page-------------------*/
/*---------------------------------------------------------- start call us -------------------*/
.cull_us {
    background: #101010;
    align-items: center;
}

.h1_cull_us {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 90px;

}

.p_cull_us {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
}

#name,
#phone {
    width: 300px;
    height: 40px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.41);
    border-radius: 4px;
    color: #FFFFFF;
}

.form-group select,
.form-group textarea {
    width: 300px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.41);
    border-radius: 4px;
    color: #FFFFFF;

}

#select {
    background-color: transparent;
}

#textarea:focus {
    background-color: transparent;
    color: #FFFFFF;

}


.bg_icon_cull_us {
    width: 48px;
    height: 48px;
    background: linear-gradient(180deg, #A17316 0%, #B2800A 21.64%, #CA9400 46.12%, #E0A700 68.51%, #F1B500 100%);
    border-radius: 8px;
    margin-right: 143px;
    margin-top: -16px;

}

.btn_submit_cull_us {
    width: 101px;
    height: 30px;
    border-radius: 100px;
    background: none;
    border: 2px solid #E0A700;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0703846px;
    color: #E0A700;
    margin-right: 26px !important;

}

.btn_submit_cull_us:hover {
    transform: scale(1.08);
    transition: all 0.5s ease;
}

.btn_submit_cull_us span img {
    margin-top: -3px;
    margin-left: 2px;

}

.img_cull_us {
    margin-right: 160px;
}

.conact_cull_us {
    margin-right: 550px;
}

.number_cull_us {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.19em;
    color: #B8B8B8;
}

.img_sqare {
    position: absolute;
    z-index: 1;
    margin-right: -600px;
    margin-top: -500px;
}

.shep_box_img {
    position: absolute;
    z-index: 1;
    width: 218px;
    height: 300px;
    margin-top: -300px;
    margin-right: -15px;
    background: linear-gradient(180deg, rgba(161, 115, 22, 0.9) 0%, rgba(178, 128, 10, 0.9) 21.64%, rgba(202, 148, 0, 0.9) 46.12%, rgba(224, 167, 0, 0.9) 68.51%, rgba(241, 181, 0, 0.9) 100%);
    mix-blend-mode: multiply;
    border: none;
}

/*---------------------------------------------------------- end call us -------------------*/
/*---------------------------------------------------------- start Our business-------------------*/
.h1_Our_business {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 90px;

}


.box_navgation_bar {
    width: 506px;
    height: 50px;
    background: #101010;
    margin-top: 74px;
    margin-right: 209px;

}

.btn_navgation_bar_1 {
    width: 76px;
    height: 50px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #C2942D;
    background: none;
    border-bottom: 1px solid #E0A700;

}

.btn_navgation_bar_2 {
    height: 49px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
}

.btn_navgation_bar_2:hover,
.btn_navgation_bar_1:hover {
    color: #E0A700;
    transition: .5s ease;
    transform: scale(1.08);

}

.icon_dripsen img {
    width: 20px;
}

.btn_navgation_bar_2 span img {
    margin-top: -8px;
}

.box_mobiel_1 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 266px;
    height: 270px;
    margin-top: 180px;
    margin-right: -1130px;
    z-index: 1;
    display: none;
}

.box_mobiel_2 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 36.5%;
    height: 270px;
    margin-top: 180px;
    margin-right: -843px;
    z-index: 1;
    display: none;

}

.box_mobiel_3 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 17.5%;
    height: 552px;
    margin-top: 180px;
    margin-right: -270px;
    z-index: 1;
    display: none;


}

.box_mobiel_4 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 266px;
    height: 270px;
    margin-top: 460px;
    margin-right: -1130px;
    z-index: 1;
    display: none;
}

.box_mobiel_5 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 266px;
    height: 270px;
    margin-top: 460px;
    margin-right: -850px;
    z-index: 1;
    display: none;

}

.box_mobiel_6 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 266px;
    height: 270px;
    margin-top: 460px;
    margin-right: -560px;
    z-index: 1;
    display: none;

}

.box_mobiel_7 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 36.5%;
    height: 270px;
    margin-top: 740px;
    margin-right: -1120px;
    z-index: 1;
    display: none;
}

.box_mobiel_8 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 266px;
    height: 270px;
    margin-top: 740px;
    margin-right: -560px;
    z-index: 1;
    display: none;
}

.box_mobiel_9 {
    position: absolute;
    background: rgba(134, 125, 24, 0.5);
    width: 266px;
    height: 270px;
    margin-top: 740px;
    margin-right: -270px;
    z-index: 1;
    display: none;


}


.img-4,
.img-8,
.img_11,
.img-5 {
    margin-top: -280px;
    position: relative;

}


.img_12 {
    position: relative;
    margin-right: 20px !important;


}

.hovar_box {
    position: relative;
}

.img_3,
.img_2,
.img_1,
.img-10 {
    position: relative;
}

.no {
    display: block;
    width: 100%;
    height: 100;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(134, 125, 24, 0.5);
}


.hovar_box:hover .overlay {
    opacity: 1;
    height: 48%;
    transition: all 0.6s ease-in-out;

}

.img-4:hover .overlay {
    opacity: 1;
    height: 95%;
    transition: all 0.6s ease-in-out;

}



.img_3:hover .overlay {
    opacity: 1;
    transition: all 0.6s ease-in-out;


}

.img_11:hover .overlay {
    opacity: 1;
    height: 99%;
    transition: all 0.6s ease-in-out;
}

.img_12:hover .overlay {
    opacity: 1;
    transition: all 0.6s ease-in-out;

}

.img_2:hover .overlay {
    opacity: 1;

}

.img_1:hover .overlay {
    opacity: 1;
    height: 48%;
    transition: all 0.6s ease-in-out;
}

.img-5:hover .overlay {
    opacity: 1;
    height: 95%;
    transition: all 0.6s ease-in-out;
}

.img-8:hover .overlay {
    opacity: 1;
    height: 95%;
    transition: all 0.6s ease-in-out;
}

.img-10:hover .overlay {
    opacity: 1;
    width: 90%;
    margin-right: 13px;
    transition: all 0.6s ease-in-out;
}

.text_1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 222px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.0703846px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon_more {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.0703846px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.underline {
    position: absolute;
    top: 30%;
    left: 50%;
    letter-spacing: 0.0703846px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

/*---------------------------------------------------------- end Our business-------------------*/
/*---------------------------------------------------------- start Our business details-------------------*/
.h1_our_business {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 92px;
    position: relative;
}
.h1_our_business::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    border: 3px solid #E0A700;
    right: -16PX;
    top: -15PX;
}

.icon_lick_3 {
    margin-top: 10px;
    margin-left: 12px;
}

.icon_lick_3:hover {
    transform: scale(1.1);
}

.icon_shaer_3:hover {
    transform: scale(1.1);
}

/*---------------------------------------------------------- end Our business details-------------------*/
/*---------------------------------------------------------- end vr -------------------*/
#panorama {
    width: 100%;
    height: 83vh;
}

/*---------------------------------------------------------- start vr -------------------*/
/*---------------------------------------------------------- start index -------------------*/
.heder {
    height: 90vh;
    background-image: url(../img/img_index.png);
    background-size: cover;
    width: 70%;
    margin-right: 450px;
    position: relative;
}

.heder::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #F1B500;
    right: -25px;
    top: 650px;


}

.box_slider {
    width: 577px;
    height: 300px;
    background: linear-gradient(90.14deg, #A17316 1.54%, #B2800A 22.8%, #CA9400 46.84%, #E0A700 68.84%, #F1B500 99.77%);
    margin-top: 215px;
    position: absolute;
    z-index: 1;
}

.item_slider_heder h1 {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 160px;
    margin-top: 64px;

}

.item_slider_heder p {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.0703846px;
    color: #000000;
    width: 400px;

}

.h1_index {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 110px;
}

.servies {
    position: relative;
    border: 1px solid #F1B500;
}

.servies::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #F1B500;
    bottom: -15px;
    right: -15px;

}

.servies:hover {
    transform: scale(1.08);
    transition: 0.5s ease;

}

.servies h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.servies p {
    width: 290px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
}



.bg_abous_us {
    background-image: url(../img/img_about\ us.png);
    background-size: cover;
    height: 90vh;
    margin-top: 100px;
    position: relative;
}

.bg_abous_us::before {
    content: '';
    position: absolute;
    width: 76px;
    height: 76px;
    border: 1px solid #F1B500;
    left: 200px;
}


.h1_aoout_us {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 50px;
}

.box_abous_us {
    position: absolute;
    width: 551px;
    height: 247px;
    background: rgba(0, 0, 0, 0.45);
    position: relative;

}

.box_abous_us ::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #F1B500;
    left: 0;
    bottom: 0;
    top: 220px;
    right: 530px;

}

.box_abous_us p {
    width: 490px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;

}



.box_text_omar_1 {
    position: absolute;
    width: 200px;
    height: 64px;
    background: linear-gradient(90.14deg, #A17316 1.54%, #B2800A 22.8%, #CA9400 46.84%, #E0A700 68.84%, #F1B500 99.77%);
    margin-right: 210px;
    margin-top: -30px;
}

.box_text_omar_1 h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}

.box_text_omar_1 h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;

}

.box_text_omar_2 {
    position: absolute;
    width: 553px;
    height: 277px;
    background: rgba(28, 28, 28, 0.8);
    border-bottom: 1px solid #F1B500;
}

.box_text_omar_2 h1,
.box_text_omar_2 h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
    width: 489px;

}

.omar {
    margin-top: 137px;
}

.content_omar_left {
    position: relative;
}

.content_omar_left::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border: 1px solid #E0A700;
    top: -25px;

}

.coma_1 {
    position: absolute;
    margin-right: -540px;
    margin-top: -30px;
}

.coustamar_p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;

}

.coustamar {
    background: #101010;
    height: 100px;
}

.item_1,
.item_4,
.item_5,
.item_6 {
    filter: grayscale(60%);
}

.item_1:hover,
.item_4:hover,
.item_5:hover,
.item_6:hover {
    filter: grayscale(0%);
    transition: all .2s ease-in-out;
}

.item_1 {
    width: 54px;
    height: 69px;
    margin-top: 16px;
}

.item_4 {
    width: 70px;
    height: 69px;
    margin-top: 16px;

}

.item_5 {
    width: 123px;
    margin-top: 16px;

}

.item_6 {
    width: 45px;
    margin-top: 16px;

}

.card {
    height: 220px !important;
    background: #101010;
    margin-top: 40px;
    margin-right: 32px;
}

.checked {
    color: #E0A700;
}

.box_star {
    position: absolute;
    margin-top: -50px;

}

.slick-prev,
.slick-next {
    display: none !important;
}

.autoplay {
    height: 300px;
}

.customer_reviews {
    margin-top: 110px;
}

.owl-dots {
    display: none;
}

.c_img {
    position: absolute;
    margin-top: -30px;
    margin-left: 255px;
}

.c_name {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.c_jop {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #C6C6C6;
}

.c_text {
    width: 307px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #CCCCCC;
    margin-left: 16px;
}

.sqere__C {
    position: absolute;
    width: 40px;
    margin-left: -20px;
}


/*---------------------------------------------------------- end index -------------------*/
/*---------------------------------------------------------- start vr details  -------------------*/
.colar {
    width: 50px;
    height: 250px;
    border-radius: 100px;
    background-color: #FFFFFF;
    margin-right: 100px;
    margin-top: 150px;
}

.img_k_1 {
    margin-right: -12px;
}

.colar span {
    display: block;

}

.colar_1,
.colar_2,
.colar_3,
.colar_4 {
    width: 35px;
    height: 35px;
    border-radius: 100px;

}

.colar_1 {
    margin-top: 20px;
    position: absolute;
    background: #95A5A6;
    margin-right: 6px;


}

.colar_2 {
    margin-top: 72px;
    position: absolute;
    background: #A17316;
    margin-right: 6px;



}

.colar_3 {
    margin-top: 125px;
    position: absolute;
    margin-right: 6px;
    background-color: #000000;



}

.colar_4 {
    margin-top: 182px;
    position: absolute;
    background: #F1B500;
    margin-right: 6px;



}

.h1_for_finger {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;


}

.h1_for_k {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.p_for_k {
    width: 600px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
    margin-left: 400px;
}

.h2_for_k {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.h2_for_k::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    border: 1px solid #E0A700;
    right: -35px;
    top: -5px;
}
.icon_done_1{
    margin-left: 5px;
    margin-top: 5px;
}

/*---------------------------------------------------------- end vr details  -------------------*/
/*---------------------------------------------------------- START RESPONSEV mobiel -------------------*/
@media(max-width:767px) {

    .container {
        overflow-x: hidden;
    }

    .nav-item_1 img {
        width: 80px;
        height: 90px;
        margin-right: -30px;
    }

    .nav-item {
        margin-top: 16px;
    }

    .nav-item a {
        margin: auto !important;
        margin-right: -32px !important;
        margin-top: 12px;
    }

    footer {
        height: 100%;
    }

    .btn_vr {
        margin: auto;
        margin-right: -325px;
        margin-top: 12px;
    }

    .btn_vr_2 {
        margin: auto;
        margin-right: -320px;
        margin-top: 12px;
    }

    .collapse {
        height: 250px;
    }

    .fab {
        margin: auto;
        right: 300px;
        margin-bottom: 32px;
    }

    .box {
        margin: auto;
        right: 305px;
        z-index: 1;
        margin-bottom: 32px;
    }

    /* start footer*/
    footer {
        margin-top: 64px;
    }

    .content_footer_center_1,
    .content_footer_center_2,
    .content_footer_center_3 {
        margin: auto !important;
        margin-right: -32px !important;
    }

    .content_footer_center_2 {
        position: absolute;
        margin-top: 160px !important;
        margin-right: 180px !important;
        max-width: 50%;

    }

    .kayan img {
        margin-top: 20px !important;
        margin-right: 70px !important;
    }

    .content_footer_right {
        margin-bottom: 32px;
    }

    /* end footer*/

    /* start blog*/
    .line_h1_1 {
        margin: auto;
        margin-right: -360px;
    }

    .content_blog_right {
        width: 360px;
    }

    .img_blog_1 {
        width: 360px;

    }

    .content_blog_right p {
        width: 340px;
    }

    .icon_lick {
        margin: auto;
        margin-right: 160px;
    }

    .content_blog_left {
        margin: auto;
        margin-right: 5%;
        width: 99%;
        height: 55%;
    }

    .content_blog_left p {
        width: 340px;
    }

    .icon_lick_2 {
        margin-right: 300px;
    }

    #img_blog_1 {
        width: 355px;

    }

    #content_blog_left_1 {
        width: 355px;
        height: 360px;
    }

    #content_blog_left_3 {
        margin-top: -16px !important;
        height: 360px;
    }

    #content_blog_left_4 {
        height: 360px;
    }

    .pagination {
        margin: auto;
        margin-top: 80px;
        margin-right: 50px;
    }
    #navigation_mobiel{
        margin-right: 20px;


    }

    /* end blog*/
    /* start blog content page*/
    .h1_blog_content_page {
        font-size: 32px;
        margin: auto;
        margin-top: 40px;
    }

    .bg_icon_like {
        margin-right: 16px !important;
    }

    .bg_icon_shaer {
        width: 300px;
    }

    #icon_face {
        margin: auto !important;
        margin-right: 20px !important;
    }

    .prescription p {
        width: auto;
        width: 360px;
    }

    .prescription_video {
        width: 360px !important;

    }

    .img_prescription {
        width: 360px;
    }

    .content_blog_cntar {
        max-width: 75%;
        margin-right: 40px;
        height: 270px;

    }

    #blog_img_center {
        width: 292px;
        margin-right: -14px;
    }

    #icon_lick_2_mobiel {
        margin-right: 230px !important;
    }

    /* end blog content page*/
    /* start  CULL US*/
    .h1_cull_us {
        margin: auto;
        margin-top: 32px;
        margin-bottom: 12px;
    }

    .img_cull_us {
        width: 360px;
        margin: auto;
        margin-top: 82px !important;
    }

    .img_sqare {
        margin: auto;
        margin-right: -380px;
        margin-top: 50px;

    }

    .shep_box_img {
        margin: auto;
        margin-right: -100px;
        width: 100px;
        height: 150px;
        margin-top: 155px;
    }

    .cull_us {
        max-width: 95%;
        margin-right: 11px;
    }

    .conact_cull_us {
        margin: auto;
    }

    #number_cull_us_2 {
        margin-left: 60px;
    }

    #number_cull_us_1 {
        margin: auto !important;
        margin-right: -25px !important;
    }

    .icon_conect_1 {
        margin-top: 60px !important;
        margin-right: -170px !important;
    }

    .icon_conect_2,
    .icon_conect_3 {
        margin-top: 60px !important;
    }

    .btn_submit_cull_us {
        margin-right: 120px !important;
    }

    /* END  CULL US*/
    /* start our business details */
    .h1_our_business {
        font-size: 29px;
    }

    .img_our_1 {
        width: 360px;
    }

    .img_our_2 {
        margin-top: 12px;
        width: 360px;

    }

    /* end our business details */
    /* start our business  */
    .h1_Our_business {
        margin: auto;
        margin-top: 32px;
    }

    .box_navgation_bar {
        width: 360px;
        height: 260px;
        margin: auto;
    }

    .btn_navgation_bar_1,
    .btn_navgation_bar_2 {
        width: 320px;
        margin-top: 12px;
    }

    #btn_navgation_bar_2 {
        padding-left: 60px;
    }

    #btn_navgation_bar_3 {
        padding-left: 55px;

    }

    .h1_Our_business,
    .under_line_h1_our_deteails {
        margin-right: 16px;
    }

    .box_navgation_bar {
        margin: auto;
        margin-top: 16px;
    }

    #img_o_P_1 {
        margin: auto;
        margin-right: 16px !important;
        width: 360px;
    }

    #img_o_P_3,
    #img_o_P_2 {
        width: 360px;
        height: 360px;
        margin: auto;
        margin-top: -20px !important;
    }

    #img_o_P_4 {
        margin-top: 300px !important;
        width: 360px;
        margin-right: 16px !important;

    }

    #img_o_P_5,
    #img_o_P_6 {
        margin-top: 300px !important;
        width: 360px;

    }

    #img_o_P_7 {
        margin-top: 20px !important;
        margin-right: 16px !important;
        width: 360px;
        height: 360px;

    }

    #img_o_P_8 {
        margin-top: 20px !important;
        width: 360px;
        width: 360px;

    }

    #img_o_P_9 {
        margin-top: 20px !important;
        width: 360px;
        width: 360px;
        margin-right: -10px;

    }

    .box_mobiel_1 {
        margin: auto;
        margin-top: 390px;
        width: 360px;
        height: 362px;
        display: block;
    }

    .box_mobiel_2 {
        margin: auto;
        margin-top: 780px;
        width: 360px;
        height: 362px;
        display: block;

    }

    .box_mobiel_3 {
        margin: auto;
        margin-top: 1164px;
        width: 350px;
        margin-right: 8px;
        height: 360px;
        display: block;


    }

    .box_mobiel_4 {
        margin: auto;
        margin-top: 1545px;
        width: 360px;
        height: 366px;
        display: block;

    }

    .box_mobiel_5 {
        margin: auto;
        margin-top: 1925px;
        width: 360px;
        height: 365px;
        display: block;


    }

    .box_mobiel_6 {
        margin: auto;
        margin-top: 2300px;
        width: 360px;
        height: 370px;
        display: block;
    }

    .box_mobiel_7 {
        margin: auto;
        margin-top: 2688px;
        width: 360px;
        height: 360px;
        display: block;
    }

    .box_mobiel_8 {
        margin: auto;
        margin-top: 3070px;
        width: 360px;
        height: 360px;
        display: block;
    }

    .box_mobiel_9 {
        margin: auto;
        margin-top: 3444px;
        width: 370px;
        height: 363px;
        margin-right: -8px;
        display: block;
    }

    /* end our business  */
    /* start index*/
    .heder {
        margin: auto;
        margin-right: -1px;
        width: 100%;
    }

    .heder::before {
        right: 0;
        top: 730px;
    }

    .box_slider {
        width: 360px;
    }

    .item_slider_heder h1 {
        margin: auto;
        margin-top: 64px;
        margin-right: 32px;
    }

    .item_slider_heder p {
        margin: auto;
        width: auto;
        text-align: justify;
        margin-right: 32px;

    }

    .bg_abous_us::before {
        right: 300px;
        top: 20px;
    }

    .box_abous_us ::before {
        top: 230px;
        right: 340px;
        left: -500px;

    }

    #servies {
        height: 100vh;
    }

    .box_abous_us {
        position: absolute;
        width: 360px;
        height: 250px;
    }

    .box_abous_us p {
        width: 320px;
        font-size: 18px;
    }

    .bg_abous_us {
        height: 60vh;
    }

    .content_omar_left {
        margin: auto;
        margin-top: 100px;
        margin-right: -40px !important;
        position: relative;
    }


    .box_text_omar_2 {
        margin-top: 100px;
        width: 360px;
        margin-right: -1px !important;
    }

    .box_text_omar_2 h1,
    .box_text_omar_2 h2 {
        width: 340px;
    }

    .coma_2 {
        margin-top: -30px !important;
        margin-left: 10PX !important;
    }

    .coma_1 {
        margin: auto;
        margin-right: -350px !important;
        margin-top: -20px !important;
    }

    .omar {
        height: 100vh;
        margin-top: 20px;
    }

    .h1_index {
        margin-top: auto;
        margin-top: 32px;
    }



    /* end index*/
    /* start vr detils*/
    .img_k_1 {
        width: 360px;
    }

    .colar {
        width: 255px;
        height: 50px;
        margin: auto;
        margin-top: 40px;
    }

    .colar_1 {
        margin: auto;
        margin-top: 8px;
        margin-right: 32px;
    }

    .colar_2 {
        margin: auto;
        margin-right: 82px;
        margin-top: 8px;

    }

    .colar_3 {
        margin: auto;
        margin-right: 130px;
        margin-top: 8px;

    }

    .colar_4 {
        margin: auto;
        margin-right: 180px;
        margin-top: 8px;

    }

    .h1_for_finger {
        margin-right: 12px !important;
        margin-top: 32px !important;
    }

    .h1_for_k {
        margin-right: 12px !important;
        margin-top: 32px !important;

    }

    .p_for_k {
        width: 360px;
        margin-right: 12px !important;

    }

    .img_vr_k_2 img {
        width: 360px;
    }

    .img_vr_k_3 img,
    .img_vr_k_4 img {
        width: 360px;
        margin-top: 12px;
    }

    .img_vr_k_5 img {
        width: 360px;
        height: 238px;
    }
   

    /* end vr detils*/

}

/*---------------------------------------------------------- END RESPONSEV -------------------*/
/*---------------------------------------------------------- start RESPONSEV tablet -------------------*/
@media(min-width: 768px) and (max-width: 991px) {

    .container {
        overflow: hidden;
    }

    .nav-item {
        margin-top: 16px;
    }

    .nav-item a {
        margin: auto !important;
        margin-right: -32px !important;
        margin-top: 12px;

    }

    .btn_vr {
        margin: auto;
        margin-right: -655px;
        margin-top: 12px;
    }

    .btn_vr_2 {
        margin: auto;
        margin-right: -650px;
        margin-top: 16px;

    }

    .collapse {
        height: 250px;
    }

    .fab {
        margin: auto;
        right: 700px;
        margin-bottom: 32px;

    }

    .box {
        margin: auto;
        right: 710px;
        z-index: 1;
        margin-bottom: 40px;

    }

    /* start our business details */

    .prescription p {
        width: 690px;

    }

    .img_prescription {
        width: 700px;
    }
    
    .img_our_1 {
        width: 380px;
        height: 360px;
    }

    .img_our_2 {
        margin-top: 12px;
    }

    /* end our business details */
    /* start blog content page*/
   
    .prescription_video {
        width: 690px !important;

    }

    .img_prescription {
        width: 690px;
    }

    .content_blog_cntar {
        max-width: 50%;
    }

    #blog_img_center {
        width: 300px !important;
    }

    .icon_lick_2 {
        margin-right: 220px !important;
    }


    /* end blog content page*/
    /* start  CULL US*/
    .h1_cull_us {
        margin: auto;
        margin-top: 32px;
    }

    .line_h1_1 {
        margin-right: -690px;
        margin-top: 8px;
    }

    .img_cull_us {
        width: 700px;
        margin: auto;
        margin-top: 82px !important;
    }

    .cull_us {
        margin-right: 150px !important;
    }

    .img_sqare {
        margin: auto;
        z-index: 1;
        margin-top: -470px;
        margin-right: -480px;
    }

    .shep_box_img {
        margin: auto;
        height: 250px;
        margin-top: -250px;
        margin-right: 32px;
    }

    .conact_cull_us {
        margin: auto;
        margin-right: -1px;
    }

    /* END  CULL US*/
    /* start blog */
    .content_blog_right {
        margin-right: 100px;
    }

    .content_blog_left {
        margin-right: 60px;
    }



    .h1_blog {
        margin-top: 32px;
    }

    .pagination {
        margin: auto;
        margin-top: 80px;
        margin-right: 200px;
    }


    /* start blog */

    /* start our business  */
    .h1_Our_business {
        margin: auto;
        margin-top: 64px;
    }

    .box_navgation_bar {

        margin: auto;
        margin-top: 50px;
        margin-left: 120px;
    }

    #img_o_P_1 {
        margin: auto;
        margin-right: 16px !important;
        width: 320px;
    }

    #img_o_P_2 {
        width: 320px;
        height: 320px;
        margin: auto;
        margin-right: 12px;
    }

    #img_o_P_3 {
        width: 690px;
        height: 400px;
        margin-right: -10px;
    }

    #img_o_P_4,
    #img_o_P_5 {
        margin-top: 320px;
        width: 320px;
        margin-right: 12px;


    }

    #img_o_P_6 {
        margin-top: 310px;
        width: 690px;
        height: 400px;
        margin-right: -10px;


    }

    #img_o_P_7 {
        width: 340px;
        height: 340px;
        margin-top: 16px;
    }

    #img_o_P_8 {
        width: 340px;
        margin-top: 16px;

    }

    #img_o_P_9 {
        width: 690px;
        margin-top: 16px;
        height: 400px;
        margin-right: -20px;

    }

    .box_mobiel_1 {
        margin: auto;
        margin-top: 250px;
        width: 320px;
        height: 320px;
        display: block;
    }

    .box_mobiel_2 {
        margin: auto;
        margin-top: 250px;
        width: 320px;
        height: 320px;
        margin-right: 350px;
        display: block;

    }

    .box_mobiel_3 {
        margin: auto;
        margin-top: 615px;
        width: 670px;
        height: 395px;
        display: block;


    }

    .box_mobiel_4 {
        margin: auto;
        margin-top: 1050px;
        width: 320px;
        height: 331px;
        margin-right: 345px;
        display: block;

    }

    .box_mobiel_5 {
        margin: auto;
        margin-top: 1055px;
        width: 325px;
        height: 320px;
        margin-right: -5px;
        display: block;
    }

    .box_mobiel_6 {
        margin: auto;
        margin-top: 1405px;
        width: 695px;
        height: 400px;
        margin-right: -12px;
        display: block;


    }

    .box_mobiel_7 {
        margin: auto;
        margin-top: 1822px;
        width: 340px;
        height: 340px;
        margin-right: -16px;
        display: block;
    }

    .box_mobiel_8 {
        margin: auto;
        margin-top: 1820px;
        width: 340px;
        height: 340px;
        margin-right: 340px;
        display: block;

    }

    .box_mobiel_9 {
        margin: auto;
        margin-top: 2179px;
        width: 690px;
        height: 395px;
        display: block;
        margin-right: -16px;

    }


    /* end our business  */
    /* start index*/
    .heder {
        margin-right: 250px;
        margin-top: 64px;
    }

    .heder::before {
        right: -20;
        top: 1040px;
    }

    .box_slider {
        margin-top: 400px;
    }

    .bg_abous_us::before {
        right: 700px;
    }

    .box_abous_us ::before {
        top: 220px;
        right: 530px;
        left: -500px;

    }

    #servies {
        height: auto;
        height: 35vh;
    }

    .servies p {
        width: 170px;
        font-size: 14px;
    }


    .sqere_about_us {
        margin-right: -90px !important;
    }

    .bg_abous_us {
        height: 45vh;
    }

    .omar {
        height: 28vh;
        margin-top: 20px;
    }

    .box_text_omar_1 {
        margin-right: 80px;
    }

    .box_text_omar_2 h1,
    .box_text_omar_2 h2 {
        width: 370px;
    }

    .box_text_omar_2 {
        margin-top: 20px;
    }

    .coma_1 {
        margin: auto;
        margin-right: -520px !important;
        margin-top: -25px !important;
        z-index: 1;
    }

    .coma_2 {
        margin: auto;
        margin-right: -100px;
    }

    .item_5 {
        width: 90px;
        margin-top: 25px;

    }

    /* end index*/
    /* start vr detils*/

    .colar {
        width: 255px;
        height: 66px;
        margin: auto;
        margin-top: 40px;
    }

    .colar_1 {
        margin: auto;
        margin-top: 14px;
        margin-right: 32px;
    }

    .colar_2 {
        margin: auto;
        margin-right: 82px;
        margin-top: 14px;

    }

    .colar_3 {
        margin: auto;
        margin-right: 130px;
        margin-top: 14px;

    }

    .colar_4 {
        margin: auto;
        margin-right: 180px;
        margin-top: 14px;

    }

    .h1_for_finger {
        margin-right: 12px !important;
        margin-top: 32px !important;
    }

    .h1_for_k {
        margin-right: 12px !important;
        margin-top: 32px !important;

    }

    .p_for_k {
        margin-right: 12px !important;

    }



    .img_vr_k_2 img {
        width: 690px;
    }

    .img_vr_k_3 img,
    .img_vr_k_4 img {
        width: 350px;
        margin-top: 20px;
    }

    .img_vr_k_4 img {
        width: 340px;
    }

    .img_vr_k_5 img {
        width: 700px;
        height: 465px;

    }

    /* end vr detils*/

    /* start footar*/
    .content_footer_center_1 {
        margin-right: 100px !important;
    }

    .content_footer_center_1 {
        margin-top: 30px !important;
        margin-right: 240px !important;
        max-width: 30%;

    }

    .content_footer_center_2 {
        position: absolute;
        margin-top: 160px;
        max-width: 30%;

        margin-right: -35px !important;
    }

    .content_footer_center_3 {
        position: absolute;
        max-width: 30%;

        margin-right: 480px !important;
        margin-top: 160px !important;
    }

    .end_footr {
        margin-top: 112px !important;
    }

    .kayan img {
        position: absolute;
        margin-right: -280px;
        margin-top: 52px !important;
    }

    footer {
        margin-top: 32PX !important;
        height: 100%;
    }

    /* end footar*/




}

/*---------------------------------------------------------- end RESPONSEV tablet -------------------*/